@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal-black: #111111;
  --white: #ffffff;
  --melo-white: #faf4f0;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-vazir);
  overflow-x: hidden;
  background-color: var(--melo-white);
}

a {
  width: fit-content;
  text-decoration: none;
  color: transparent;
}

input,
textarea {
  text-indent: 10px;
}

@layer utilities {
  .fix-nav {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    animation: fadeInDownBig 0.4s ease;
    left: 0;
    width: 100%;
    top: 0;
    background: none;
    z-index: 999;
  }
}

.ant-menu-sub {
  background: var(--normal-black) !important;
}

button > .btn {
  padding: 20px 15px 20px 20px !important;
}

.ant-layout-footer {
  padding: 0 !important;
}

.ant-table-expanded-row > .ant-table-cell {
  padding-left: 60px !important;
}
/* .ant-table-tbody > tr:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.2) !important;
} */
.ant-upload-wrapper {
  width: 100% !important;
}
.anticon-delete > svg {
  color: rgb(226, 39, 39);
}
/* .ant-result-title {
  color: var(--melo-white) !important;
} */
/* ckeditor style */
.main-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  line-height: 1.6;
  word-break: break-word;
}

.ck-content * {
  direction: ltr;
  text-align: start;
}
/* end ckeditor style */

/* table style */

tbody > tr {
  background: white;
}

/* end table style */

/* style result */

.white-title > .ant-result > .ant-result-title {
  color: var(--melo-white) !important;
}
.black-title > .ant-result > .ant-result-title {
  color: var(--normal-black) !important;
}

/* end style result */

/* style pagination */

.ant-pagination-item {
  padding: 0 0 0 5px !important;
}
.ant-pagination-item > a {
  color: var(--melo-white) !important;
}
.ant-pagination-item:not(.ant-pagination-item-active) {
  background: rgba(0, 0, 0, 0.1) !important;
}
/* end style pagination */

.ant-input-group-addon {
  color: var(--melo-white) !important;
}

.ant-modal-mask {
  backdrop-filter: blur(2px) !important;
}

.ant-table-cell {
  @apply text-2xl;
  @apply font-medium;
  @apply text-normalBlack;
}

.anticon-ellipsis > svg {
  color: #ffffff;
}

.buttonVisible {
  position: fixed !important;
  z-index: 999 !important;
  bottom: 12px !important;
  right: 1rem !important;
  width: 40px !important;
  height: 40px !important;
  transition-duration: 500ms !important;
  transition-property: opacity !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  opacity: 1 !important;
  transition: 0.3s background-color !important;
  vertical-align: middle !important;
  transform: perspective(1px) translateZ(0) !important;
  box-shadow: 10px 10px 10px #babecc, -10px -10px 20px #ffffff;
  border-radius: 50% !important;
  border: none;
  outline: none;

  &:hover {
    background-color: var(--melo-white) !important;
  }
  &:hover .scroll-icon {
    color: var(--normal-black) !important;
  }
}

.buttonInvisible {
  display: none;
  opacity: 0;
}
